<!DOCTYPE HTML>
	<html>
		<head>
			<title>Login</title>
			<link href="../static/styles.css" rel="stylesheet">
			<script src="../static/script.js"></script>
		</head>
		<body class="login_page">
			<header>
				<div id= "navbar">
					<a href = "index.html"><img src="../static/logo5.svg" id= "logo" alt="Logo Image"></a>
					<div class="buttons1">
						<a href ="#home.html">Home</a>
						<a href ="#categories.html">Shop</a>
						<!--<form action="/search" method="GET" class="search-bar">
							<input type="text" name="q" placeholder="Search" required>
							<button type="submit"><img src="../static/search.svg"></button>
						</form>-->
					</div>
					<div class="buttons2">
						<div class="search">
							<img src="../static/search.svg" alt="search icon" class="search_icon">
							<input type="text" class="search_bar" placeholder="Search..">
						</div>						
						<a href ="#aboutus.html">About Us</a>
						<a href = "#cart.html"><img src="../static/shopping_cart.svg" id = "cart" alt="Shopping Cart"></a>
						<a href="#signin.html">Sign Out</a>
					</div>
				</div>
				<script><!--make change-->
					const searchIcon = document.getElementById("searchIcon");
					const searchBar = document.getElementById("searchBar");

					searchIcon.addEventListener("mouseenter", () => {
						searchBar.style.opacity = "1";
						searchBar.style.transform = "scaleX(1)";
					});

					searchIcon.addEventListener("mouseleave", () => {
						setTimeout(() => {
							searchBar.style.opacity = "0";
							searchBar.style.transform = "scaleX(0)";
						}, 500); // Delays hiding slightly for a smoother effect
					});

					searchBar.addEventListener("mouseenter", () => {
						searchBar.style.opacity = "1";
						searchBar.style.transform = "scaleX(1)";
					});

					searchBar.addEventListener("mouseleave", () => {
						searchBar.style.opacity = "0";
						searchBar.style.transform = "scaleX(0)";
					});
				</script>
			</header>
			<div class="login">
				<form action="/login" method="post">
					<legend>Login</legend>
					<input type="text" placeholder="Username" name="username">
					<br>
					<input type="password" placeholder="Password" name="password">
					<br>
					<button type="submit">Login</button>
				</form>
				<p>DO NOT HAVE AN ACCOUNT? <a href="#register">REGISTER FIRST</a></p>
			</div>
		</body>
	</html>