
/*Product Page End*/

.login form {
	align-items:center;
	padding:35px;
	border:2px solid black;
	border-radius:5px;
	width:350px;
	height:auto;
	margin:100px 550px 50px;
	
}
.login form input {
	width:300px;
	height:35px;
	align-items:center;
	border-radius:5px;
	margin:3px 25px;
}
.login form legend {
	margin-left:145px;
	font-size:25px;
}
.login form button {
	margin-left:125px;
	margin-top:10px;
	width:100px;
	height:35px;
	border-radius:3px;
	background-color:#444444;
	border:2px solid #444444;
	color:#cfd1d4;
}
.login a {
	text-decoration:none;
	color:black;
}
.login p{
	margin-left:580px;
}
.outerwear_page {
	background-color:#2e2e2e;
	color:#cfd1d4;

}
.outerwear_page {
	background-color:#2e2e2e;
	color:#cfd1d4;

}
.shoes_page {
	background-color:#353535;
	color:#cfd1d4;

}


.checkout_form{
	width:70%;
	margin-left:10%;
	margin-bottom:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#7f7f7f;
	padding:40px;
	box-shadow:0px 4px 10px rgba(0,0,0,0.2);
	
	
}

.checkout_form form{
	display:flex;
	justify-content:space-between;
	gap:10px;
}
.checkout_form_right,
.checkout_form_left {
	width:48%;
	display:flex;
	flex-direction:column;
}
.checkout_form h3 {
	color:black;
	text-align:center;
	margin-bottom:5px;
}
.checkout_form input,
.checkout_form select,
.checkout_form button{
	margin:5px;
	padding:5px;
	border-radius:4px;
	width:100%;
	border:3px;
	
}
.shipping_method,
.terms_button {
	background-color:white;
	border-radius:4px;
	margin-bottom:5px;
	padding:5px;
	color:gray;
}
.shipping_method{
	display:flex;
}
.checkout_form .checkout_form_left.terms_container {
	width:100%;
	display:flex;
	background-color:white;
}
.checkout_form .checkout_form_left #terms{
	width:20px;
	height:20px;
	color:gray;
}

.shipping {
	display:flex;
	width:50%;
	color:gray;

}
.checkout_form select{
	color:gray;
}

.checkout_form #confirm {
	width:100%;
	height:30px;
	background-color:#444444;
	color:white;
}

	